<!DOCTYPE html>

<html>

    <head>

        <link rel="icon" href="/static/image/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/base.css">

        <script src="/static/javascript/base.js"></script>

        {% block title %}
        {% endblock title %}

        {% block css %}
        {% endblock css %}

    </head>

    <body>

        <header>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
                {% if user is defined() %}
                    <ul>
                        <li>
                            <a href="/internal/logout">Logout</a>
                        </li>
                    </ul>
                {% else %}
                    <ul>
                        <li>
                            <a href="/sign-up">Sign Up</a>
                        </li>
                        <li>
                            <a href="/login">Login</a>
                        </li>
                    </ul>
                {% endif %}
            </nav>
                {% for message in get_flashed_messages(request) %}
                    <div class="flashed_message">
                        <p>
                            {{ message }}
                            <span onclick="removeParent(this);">&times;</span>
                        </p>
                    </div>
                {% endfor %}
        </header>

        <br>

        {% block main %}
        {% endblock main %}

    </body>

</html>
