{% extends "base.jinja2" %}

{% block title %}

    <title>Not Found</title>

{% endblock title %}

{% block css %}
{% endblock css %}

{% block main %}

    <main>

        <h2>Not Found</h2>

    </main>

{% endblock main %}
